<%= form_with(model: [@post.topic, @post, @comment], local: true) do |form| %>
  <% if @comment.errors.any? %>
    <div id="alert alert-danger error_explanation"  class="alert alert-danger" role="alert">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <%end %>
  <div class="form-group">
  <p>
    <%= form.text_area :comment,class:"form-control" %>
  </p>
  </div>
  <p>
    <%= form.submit class:"btn btn-secondary"%>
  </p>
<% end %>