<div class="row">
  <div class="col-6">
<p>
  <strong>User:</strong>
  <%= @comment.user.email %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p><%= render 'commentratings/form' %></p>

<p><%= link_to 'Back', topic_post_path(@post.topic,@post),class:"btn btn-primary" %></p>
  </div>
  <div class="col-4">
    <h3>Ratings</h3>
  <%@user_comment_ratings.each do |rating| %>
      <p><%=rating.user.email %> : <%=rating.star %></p>

    <% end %>
  </div>
</div>