<%= form_with(model: topic, local: true) do |form| %>
  <% if topic.errors.any? %>
    <div id="alert alert-danger error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>
      <ul>
      <% topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
  <p>
    <%= form.label :title %>
  </p>
  <p>
    <%= form.text_field :title, class: "form-control" %>
  </p>
</div>
    <%= form.submit class:"btn btn-primary"%>
<% end %>
