<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>
    <p>
<%= link_to 'Edit', edit_topic_path(@topic), class:"btn btn-primary" %> |
<%= link_to 'Back', topics_path, class:"btn btn-primary" %>
    </p>
    <p><%= link_to 'View posts', topic_posts_path(@topic), class:"btn btn-info" %></p>
<h1>Add a posts:</h1>

<%= render 'posts/form' %>
