<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
<h2>Add a posts:</h2>
<%= render 'posts/form' %>
<%= link_to 'Post', topic_posts_path(@topic)%>

