<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <p>
          <strong>Name:</strong>
          <%= @post.name %>
        </p>
        <p>
          <strong>Description:</strong>
          <%= @post.description %>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Add Ratings</h3>
        <p><%= render 'ratings/form' %></p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <% if @tags.size > 0 %>
          <h3>Tags:</h3>
          <% @tags.each do |tag| %>
            <p><%= tag.name %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <div class="card-body">
        <p>
        <h3 class="card-title">Ratings</h3></p>
        <% count = 1 %>
        <% while count <= 5 %>
          <p><%= count %>
            : <%= @ratings[count].equal?(nil) ? 0 : @ratings[count] %></p>
          <% count = count + 1 %>
        <% end %>
      </div>
    </div>

  </div>
  <div class="col-2">
    <div class="card">
      <div class="card-body">
        <p>
        <h3 class="card-title">Ratings Average</h3>
        </p>
        <p>
          <% if @post.ratings.count > 0 %>
            <%= "#{@post.average_rating.round(1)}  out of 5" %>
          <% else %>
            <%= 'Not Yet Rated' %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card" , style="width: 11rem;">
      <div class="card-body">
        <p>
        <h3 class="card-title">Comment count</h3></p>
        <%= @post.comments_count %>
      </div>
    </div>
  </div>
  <div class="col-2">
    <div class="card">
      <div class="card-body">
        <% if @post.avatar.attached? %>
          <p>
          <h3 class="card-title">Image</h3></p>
          <p><%= image_tag(@post.avatar, size: '75x75') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <%= render 'comments/comment' %>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Add a comment:</h2>
    <%= render 'comments/form' %>
  </div>
</div>
</p>

<%= link_to 'Back', topic_posts_path(@post.topic), class: "btn btn-primary" %>


<script>
    Rails.ajax({
        url: "/posts/<%=@post.id %>/read_status",
        type: "POST",
    });
</script>