<div class="row">
  <div class="col-4">
<p>
  <strong>Name:</strong>
  <%= @posts.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @posts.description %>
<p><%= render 'ratings/form' %></p>
</p>
    <% if @tags.count > 0 %>
      <h3>Tags:</h3>
      <% @tags.each do |tag| %>
        <p><%= tag.name %></p>
      <% end %>
    <% end %>
  </div>
  <div class="col-2">
    <p><h3>Ratings</h3></p>
    <p><%= '1 star' %> : <%= @ratings['1 star'].equal?(nil)? 0:@ratings['1 star'] %></p>
    <p><%= '2 star' %> : <%= @ratings['2 star'].equal?(nil)? 0:@ratings['2 star'] %></p>
    <p><%= '3 star' %> : <%= @ratings['3 star'].equal?(nil)? 0:@ratings['3 star'] %></p>
    <p><%= '4 star' %> : <%= @ratings['4 star'].equal?(nil)? 0:@ratings['4 star'] %></p>
    <p><%= '5 star' %> : <%= @ratings['5 star'].equal?(nil)? 0:@ratings['5 star'] %></p>
  </div>
  <div class="col-2">
    <p>
    <h3>Ratings Average</h3>
    </p>
<p>
  <% @avg = @posts.ratings.average(:ratings).round(1) unless @posts.ratings.count<1 %>
  <%= "#{@avg} Out of 5" unless @posts.ratings.count<1 %><br>
</div>
  <div class="col-2">
    <p><h3>Comments count</h3></p>
    <p><%=@posts.comments.count %></p>
  </div>
  <div class="col-2">
    <% if @posts.avatar.attached? %>
    <p><h3>Image</h3></p>
    <p><%=image_tag(@posts.avatar,size: '75x75') %></p>
      <%end %>
  </div>
</div>
</p>
<%= render 'comments/comment' %>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', topic_posts_path(@topic) , class:"btn btn-primary"%>
