<div class="row">
  <div class="col-4">
<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @post.description %>
<p><%= render 'ratings/form' %></p>
</p>
    <% if @tags.size > 0 %>
      <h3>Tags:</h3>
      <% @tags.each do |tag| %>
        <p><%= tag.name %></p>
      <% end %>
    <% end %>
  </div>
  <div class="col-2">
    <p><h3>Ratings</h3></p>
    <%count=1 %>
    <%while count<=5 %>
    <p><%= count %> : <%= @ratings[count].equal?(nil)? 0:@ratings[count] %></p>
<% count=count+1 %>
      <%end %>
  </div>
  <div class="col-2">
    <p>
    <h3>Ratings Average</h3>
    </p>
<p>
  <%if @post.ratings.count>0%>
    <%= "#{@post.average_rating.round(1)}  out of 5" %>
    <%else %>
    <%='Not Yet Rated' %>
    <%end %>
</p>
</div>
  <div class="col-2">
    <p><h3>Comments count</h3></p>
      <%= @post.comments_count%>
  </div>
  <div class="col-2">
    <% if @post.avatar.attached? %>
    <p><h3>Image</h3></p>
    <p><%=image_tag(@post.avatar,size: '75x75') %></p>
      <%end %>
  </div>
</div>
</p>
<%= render 'comments/comment' %>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Back', topic_posts_path(@post.topic) , class:"btn btn-primary"%>


<script>
    Rails.ajax({
        url: "/posts/<%=@post.id %>/read_status",
        type: "POST",
    });
</script>